/* Body Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
  line-height: 1.6;
}

/* Header Style */
header {
  background: #111827;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Nav Bar Style */
.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #38bdf8;
}

.menu-btn {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Footer Style */
footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Mobile Style */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #111827;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
  }

  .nav-links.active {
    display: flex;
  }
}